In [68]:
#! pip install langchain replicate

In [69]:
#load API key
def read_api_key(file_path):
    with open(file_path, 'r') as file:
        return file.read().strip()

REPLICATE_API_TOKE = read_api_key('../API_Key/REPLICATE_API_TOKEN.txt')
OPENAI_API_KEY = read_api_key('../API_Key/OPENAI_API_KEY.txt')

In [70]:
import os
os.environ["REPLICATE_API_TOKEN"] = REPLICATE_API_TOKE
os.environ["OPENAI_API_KEY"] = OPENAI_API_KEY

In [72]:
# Set up Local llama2
from langchain.chat_models import ChatOllama

llama2_chat = ChatOllama(model="llama2:13b-chat")
llama2_code = ChatOllama(model="codellama:7b-instruct")

# API
from langchain.llms import Replicate

# os.environ["REPLICATE_API_TOKEN"] = REPLICATE_API_TOKEN
replicate_id = "meta/llama-2-13b-chat:f4e2de70d66816a838a89eeeb621910adffb0dd0baba3976c96980970978018d"
llama2_chat_replicate = Replicate(
    model=replicate_id, model_kwargs={"temperature": 0.01, "max_length": 500, "top_p": 1}
)

In [73]:
llm = llama2_chat

In [74]:
#Set MySQL and SQLite DB
from typing import Any, Dict, List, Tuple, Union
from langchain.utilities import SQLDatabase
import pymysql
# KV = Dict[str, Any]
# Query = Tuple[str, List]

# class mySQL_DB:
#     def __init__(self, host: str, port: int, user: str, password: str, database: str):
#         conn = pymysql.connect(
#             host=host,
#             port=port,
#             user=user,
#             password=password,
#             database=database,
#             cursorclass=pymysql.cursors.DictCursor,
#         )
#         self.conn = conn
#         self.database = database

#     def get_cursor(self):
#         return self.conn.cursor()
    
#     def run_query(self, query: str, args: List, ret_result: bool) -> Union[List[KV], int]:

#         cur = self.get_cursor()
#         count = cur.execute(query, args=args)
#         if ret_result:
#             return cur.fetchall()
#         else:
#             return count
    
#     def get_schema(self):
#         """
#         Fetches all tables and their columns from a specified MySQL database.
#         :return: Dictionary with table names as keys and list of columns as values
#         """
#         connection = self.conn
#         cursor = connection.cursor()

#         # Fetch tables and columns
#         query = """
#         SELECT 
#             TABLE_NAME, 
#             COLUMN_NAME 
#         FROM 
#             information_schema.COLUMNS 
#         WHERE 
#             TABLE_SCHEMA = %s
#         ORDER BY 
#             TABLE_NAME, 
#             ORDINAL_POSITION;
#         """
#         cursor.execute(query, (self.database,))

#         # Process the results
#         tables_columns = {}
#         for table_name, column_name in cursor:
#             if table_name not in tables_columns:
#                 tables_columns[table_name] = []
#             tables_columns[table_name].append(column_name)
#         return tables_columns
    
# class SQLite_DB:
#     def __init__(self, db_path: str):
#         self.db = SQLDatabase.from_uri(db_path, sample_rows_in_table_info=0)
    
#     def get_schema(self):
#         return self.db.get_table_info()
    
#     def run_query(self,query):
#         return self.db.run(query)

In [75]:
    #Set up SQLite DB using the above classes
from langchain.utilities import SQLDatabase
db = SQLDatabase.from_uri("sqlite:///./Chinook.db", sample_rows_in_table_info=0)
# db = SQLite_DB("sqlite:///./Chinook.db")

In [76]:
def get_schema(_):
    return db.get_table_info()
def run_query(query):
    print("running query\n", query)
    return db.run(query)

In [77]:
from langchain.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)


prompt_llama2 = ChatPromptTemplate.from_messages(
    [
        ("system", "Given an input question, convert it to a SQL query. No pre-amble."),
        ("human", template),
    ]
)

In [78]:
from langchain.chat_models import ChatOpenAI
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough

model = ChatOpenAI()

sql_response = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | model.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)

In [79]:
sql_response.invoke({"question": "How many employees are there?"})

'SELECT COUNT(EmployeeId) FROM Employee'

In [81]:
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template)

In [82]:
full_chain = (
    RunnablePassthrough.assign(query=sql_response).assign(
        schema=get_schema,
        response=lambda x: run_query(x["query"]),
    )
    | prompt_response
    | model
)

In [83]:
full_chain.invoke({"question": "How many employees are there?"})

running query SELECT COUNT(*) FROM Employee

AIMessage(content='There are 8 employees.')

In [84]:
full_chain.invoke({"question": "What are the top 3 best-selling artists from the database?"})

running query SELECT Artist.Name, COUNT(InvoiceLine.TrackId) AS TotalSales
FROM Artist
JOIN Album ON Artist.ArtistId = Album.ArtistId
JOIN Track ON Album.AlbumId = Track.AlbumId
JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
GROUP BY Artist.Name
ORDER BY TotalSales DESC
LIMIT 3;

AIMessage(content='The top 3 best-selling artists from the database are Iron Maiden with 140 total sales, U2 with 107 total sales, and Metallica with 91 total sales.')

In [85]:
#Now using llama2_chat


sql_response = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | llm.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)
db = SQLDatabase.from_uri("sqlite:///nba_roster.db", sample_rows_in_table_info=0)

In [86]:
# Prompt
from langchain.memory import ConversationBufferMemory
from langchain.prompts import ChatPromptTemplate, MessagesPlaceholder

template = """Given an input question, convert it to a SQL query. No pre-amble. Based on the table schema below, write a SQL query that would answer the user's question:
{schema}
"""
prompt = ChatPromptTemplate.from_messages(
    [
        ("system", template),
        MessagesPlaceholder(variable_name="history"),
        ("human", "{question}"),
    ]
)

memory = ConversationBufferMemory(return_messages=True)

# Chain to query with memory
from langchain_core.runnables import RunnableLambda

sql_chain = (
    RunnablePassthrough.assign(
        schema=get_schema,
        history=RunnableLambda(lambda x: memory.load_memory_variables(x)["history"]),
    )
    | prompt
    | llm.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)


def save(input_output):
    output = {"output": input_output.pop("output")}
    memory.save_context(input_output, output)
    return output["output"]


sql_response_memory = RunnablePassthrough.assign(output=sql_chain) | save
sql_response_memory.invoke({"question": "What team is Klay Thompson on?"})

"\nSELECT Team\nFROM nba_roster\nWHERE NAME = 'Klay Thompson';"

In [87]:
# Chain to answer
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_messages(
    [
        (
            "system",
            "Given an input question and SQL response, convert it to a natural language answer. No pre-amble.",
        ),
        ("human", template),
    ]
)

full_chain = (
    RunnablePassthrough.assign(query=sql_response_memory)
    | RunnablePassthrough.assign(
        schema=get_schema,
        response=lambda x: run_query(x["query"]),
    )
    | prompt_response
    | llm
)

full_chain.invoke({"question": "What is his salary?"})

running query
SELECT SALARY
FROM nba_roster
WHERE NAME = 'Klay Thompson';

AIMessage(content="Natural language response:\nKlay Thompson's salary is $43,219,440.")